@font-face {
    font-family: 'PT Sans Caption';
    src: url('PTSans-Caption.woff2') format('woff2'),
        url('PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cantarell';
    src: url('Cantarell-Regular.woff2') format('woff2'),
        url('Cantarell-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

