/* General setup */

@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSans-Caption.woff2') format('woff2'),
        url('fonts/PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Regular.woff2') format('woff2'),
        url('fonts/Cantarell-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}





h1, h2, footer{
    font-family: Cantarell;
}

p{
    font-family: 'PT Sans Caption';
}

body{
    line-height: 1.5;
}

header > h1{
    text-align: center;
}

h2{
    margin-bottom: 0;
}

body, h1, h2{
    letter-spacing: 1px;
}

section > h2 + p
{
    text-indent: 2rem;
}

a:link
{
    color: #b44747;
}

a:visited
{
    color: #cd565661;
}

a:focus
{
    color: #b43838;
    text-decoration: none;

}

a:hover
{
    color: #ff0000;
    text-decoration: none;
}

a{
    outline-style: none;
}

a[href^="http"]::after
{
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    background-image: url("external-link-52.png");
    background-size: cover;
}


li{
    list-style-type: lower-alpha;
}

nav {
    font-family: Cantarell;
}

nav li {
    margin: 0;
    text-align: center;
    text-transform: uppercase;


}


